<h2>Test Vocacional UTHH</h2>
<form #testForm="ngForm">
  <p>1. ¿Te gusta trabajar en construcción?</p>
  <label><input type="radio" name="pregunta1" [(ngModel)]="respuestas.p1" value="construccion"> Sí</label>
  <label><input type="radio" name="pregunta1" [(ngModel)]="respuestas.p1" value="tecnologias"> No</label>

  <p>2. ¿Te apasiona el desarrollo de software?</p>
  <label><input type="radio" name="pregunta2" [(ngModel)]="respuestas.p2" value="ti"> Sí</label>
  <label><input type="radio" name="pregunta2" [(ngModel)]="respuestas.p2" value="agrobiotecnologia"> No</label>

  <p>3. ¿Te interesan los vehículos y la mecánica?</p>
  <label><input type="radio" name="pregunta3" [(ngModel)]="respuestas.p3" value="automotriz"> Sí</label>
  <label><input type="radio" name="pregunta3" [(ngModel)]="respuestas.p3" value="gastronomia"> No</label>

  <p>4. ¿Te gusta la administración de proyectos?</p>
  <label><input type="radio" name="pregunta4" [(ngModel)]="respuestas.p4" value="administracion"> Sí</label>
  <label><input type="radio" name="pregunta4" [(ngModel)]="respuestas.p4" value="contaduria"> No</label>

  <p>5. ¿Te interesa la biotecnología y el área vegetal?</p>
  <label><input type="radio" name="pregunta5" [(ngModel)]="respuestas.p5" value="agrobiotecnologia"> Sí</label>
  <label><input type="radio" name="pregunta5" [(ngModel)]="respuestas.p5" value="mecatronica"> No</label>

  <p>6. ¿Te atraen los procesos alimentarios?</p>
  <label><input type="radio" name="pregunta6" [(ngModel)]="respuestas.p6" value="procesos_alimentarios"> Sí</label>
  <label><input type="radio" name="pregunta6" [(ngModel)]="respuestas.p6" value="negocios"> No</label>

  <p>7. ¿Te interesa la gastronomía?</p>
  <label><input type="radio" name="pregunta7" [(ngModel)]="respuestas.p7" value="gastronomia"> Sí</label>
  <label><input type="radio" name="pregunta7" [(ngModel)]="respuestas.p7" value="mecanica_industrial"> No</label>

  <p>8. ¿Te gustaría estudiar administración de negocios o marketing?</p>
  <label><input type="radio" name="pregunta8" [(ngModel)]="respuestas.p8" value="desarrollo_negocios"> Sí</label>
  <label><input type="radio" name="pregunta8" [(ngModel)]="respuestas.p8" value="mecanica_industrial"> No</label>

  <p>9. ¿Te interesa trabajar en el área de la mecánica industrial?</p>
<label><input type="radio" name="pregunta9" [(ngModel)]="respuestas.p9" value="mecanica_industrial"> Sí</label>
<label><input type="radio" name="pregunta9" [(ngModel)]="respuestas.p9" value="contaduria"> No</label>

<p>10. ¿Te atrae el trabajo en equipo y la organización?</p>
<label><input type="radio" name="pregunta10" [(ngModel)]="respuestas.p10" value="administracion"> Sí</label>
<label><input type="radio" name="pregunta10" [(ngModel)]="respuestas.p10" value="gastronomia"> No</label>

<p>11. ¿Te interesa la mecánica y automatización de sistemas?</p>
<label><input type="radio" name="pregunta11" [(ngModel)]="respuestas.p11" value="mecatronica"> Sí</label>
<label><input type="radio" name="pregunta11" [(ngModel)]="respuestas.p11" value="agrobiotecnologia"> No</label>

<p>12. ¿Te gustaría desarrollar software para plataformas móviles?</p>
<label><input type="radio" name="pregunta12" [(ngModel)]="respuestas.p12" value="ti"> Sí</label>
<label><input type="radio" name="pregunta12" [(ngModel)]="respuestas.p12" value="automotriz"> No</label>

<p>13. ¿Te interesa el trabajo con tecnologías de información?</p>
<label><input type="radio" name="pregunta13" [(ngModel)]="respuestas.p13" value="ti"> Sí</label>
<label><input type="radio" name="pregunta13" [(ngModel)]="respuestas.p13" value="mecanica_industrial"> No</label>

<p>14. ¿Te apasiona la gestión de proyectos y análisis financiero?</p>
<label><input type="radio" name="pregunta14" [(ngModel)]="respuestas.p14" value="contaduria"> Sí</label>
<label><input type="radio" name="pregunta14" [(ngModel)]="respuestas.p14" value="mecanica_industrial"> No</label>

<p>15. ¿Te gustaría estudiar y trabajar en procesos industriales?</p>
<label><input type="radio" name="pregunta15" [(ngModel)]="respuestas.p15" value="procesos_industriales"> Sí</label>
<label><input type="radio" name="pregunta15" [(ngModel)]="respuestas.p15" value="gastronomia"> No</label>

<p>16. ¿Te gustaría trabajar en el área de investigación en biotecnología?</p>
<label><input type="radio" name="pregunta16" [(ngModel)]="respuestas.p16" value="agrobiotecnologia"> Sí</label>
<label><input type="radio" name="pregunta16" [(ngModel)]="respuestas.p16" value="gastronomia"> No</label>

<p>17. ¿Te interesa la creación de nuevos productos y tecnologías?</p>
<label><input type="radio" name="pregunta17" [(ngModel)]="respuestas.p17" value="mecatronica"> Sí</label>
<label><input type="radio" name="pregunta17" [(ngModel)]="respuestas.p17" value="procesos_alimentarios"> No</label>

<p>18. ¿Te gustaría estudiar sobre la gestión de recursos humanos y el marketing?</p>
<label><input type="radio" name="pregunta18" [(ngModel)]="respuestas.p18" value="desarrollo_negocios"> Sí</label>
<label><input type="radio" name="pregunta18" [(ngModel)]="respuestas.p18" value="administracion"> No</label>

<p>19. ¿Te atrae el trabajo en el área de la mecánica y la tecnología aplicada?</p>
<label><input type="radio" name="pregunta19" [(ngModel)]="respuestas.p19" value="mecanica_industrial"> Sí</label>
<label><input type="radio" name="pregunta19" [(ngModel)]="respuestas.p19" value="ti"> No</label>

<p>20. ¿Te gustaría trabajar en el campo de la ingeniería industrial o el diseño de sistemas?</p>
<label><input type="radio" name="pregunta20" [(ngModel)]="respuestas.p20" value="mecatronica"> Sí</label>
<label><input type="radio" name="pregunta20" [(ngModel)]="respuestas.p20" value="gastronomia"> No</label>

<p>21. ¿Te gustan las matemáticas?</p>
<label><input type="radio" name="pregunta21" [(ngModel)]="respuestas.p21" value="matematicas"> Sí</label>
<label><input type="radio" name="pregunta21" [(ngModel)]="respuestas.p21" value="gastronomia"> No</label>

<p>22. ¿Te atrae el dibujo y la creatividad?</p>
<label><input type="radio" name="pregunta22" [(ngModel)]="respuestas.p22" value="creatividad"> Sí</label>
<label><input type="radio" name="pregunta22" [(ngModel)]="respuestas.p22" value="mecanica_industrial"> No</label>

<p>23. ¿Te interesa trabajar con computadoras y tecnología?</p>
<label><input type="radio" name="pregunta23" [(ngModel)]="respuestas.p23" value="tecnologia"> Sí</label>
<label><input type="radio" name="pregunta23" [(ngModel)]="respuestas.p23" value="agrobiotecnologia"> No</label>

<p>24. ¿Te gustaría trabajar en la industria automotriz?</p>
<label><input type="radio" name="pregunta24" [(ngModel)]="respuestas.p24" value="automotriz"> Sí</label>
<label><input type="radio" name="pregunta24" [(ngModel)]="respuestas.p24" value="gastronomia"> No</label>

<p>25. ¿Te apasiona el trabajo en equipo?</p>
<label><input type="radio" name="pregunta25" [(ngModel)]="respuestas.p25" value="trabajo_equipo"> Sí</label>
<label><input type="radio" name="pregunta25" [(ngModel)]="respuestas.p25" value="contaduria"> No</label>

<p>26. ¿Disfrutas resolver problemas complejos?</p>
<label><input type="radio" name="pregunta26" [(ngModel)]="respuestas.p26" value="problemas_complejos"> Sí</label>
<label><input type="radio" name="pregunta26" [(ngModel)]="respuestas.p26" value="mecanica_industrial"> No</label>

<p>27. ¿Te interesa la biología y los seres vivos?</p>
<label><input type="radio" name="pregunta27" [(ngModel)]="respuestas.p27" value="biologia"> Sí</label>
<label><input type="radio" name="pregunta27" [(ngModel)]="respuestas.p27" value="gastronomia"> No</label>

<p>28. ¿Te gustaría trabajar en el campo de la administración y negocios?</p>
<label><input type="radio" name="pregunta28" [(ngModel)]="respuestas.p28" value="administracion"> Sí</label>
<label><input type="radio" name="pregunta28" [(ngModel)]="respuestas.p28" value="agrobiotecnologia"> No</label>

<p>29. ¿Te gustan los desafíos físicos y el trabajo en el campo?</p>
<label><input type="radio" name="pregunta29" [(ngModel)]="respuestas.p29" value="trabajo_campo"> Sí</label>
<label><input type="radio" name="pregunta29" [(ngModel)]="respuestas.p29" value="ti"> No</label>


  <br>
  <button (click)="calcularResultado()">Ver Resultado</button>
</form>
