<h2 class="titulo">Tu Carrera Recomendada</h2>
<p class="resultado">{{ carrera }}</p>
<a href="https://www.uthh.edu.mx/?val=c2xpZGVyX2NhcnJlcmFzLnBocA==&M=Mg==" class="volver" target="_blank">Mira más información de la carrera</a>

<style>
    /* Estilo para el título */
.titulo {
  font-size: 24px;
  font-weight: bold;
  color: #4CAF50;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilo para el resultado */
.resultado {
  font-size: 20px;
  font-weight: normal;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

/* Estilo para el enlace */
.volver {
  display: block;
  text-align: center;
  color: #007BFF;
  font-size: 18px;
  text-decoration: none;
  margin-top: 20px;
}

.volver:hover {
  text-decoration: underline;
}

</style>